div{
    width: 100px;
    height: 100px;
    background-color: black;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /*flex를 이용한 수평 수직 가운데 정렬법*/
    
}
body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}