.box{
    width: 100px;
    height: 100px;
    color: #ffff;
    border-radius: 5px;

}

.origin {
    margin: 30px;
    border: 3px dashed black;
    background-color: deeppink;
    float: left;
}
.child{
    background-color: blue;
    cursor: pointer;
}

.translate{
    transform: translate(10px, 50px);
}

.translate:hover{
    transition: transform 1s linear;
    transform: translate(0px, 0px);
}
.scale{
    /* transform: scale(.75); */
    transform: scale(1);
}

.scale:hover{
    transition: transform 1s linear;
    transform: scale(.5);
}

.skew{
    transform: skew(10deg, 10deg);
}
.skew:hover{
    transition: transform 1s linear;
    transform: skew(0, 0);
}

.rotate{
    transform: rotate(0);
}

.rotate:hover{
    animation: test 3s infinite;
}

@keyframes test{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.complex{
    transform: scale(.75) rotate(45deg);
}
.complex:hover{
    transition: transform 1s linear;
    transform: scale(1) rotate(0);
}